/***** GENERAL STYLING *****/
/* Affects entire document */
html {
  scroll-behavior: smooth; /* This ensures that the page scrolling is smooth when the buttons on the nav bar are clicked*/
}
/* Body */
body {
  margin: 0%; /* This ensures our site displays all the way to the edge of the browser screen */
  opacity: 1; /*this and transition affect the page loading fade in effect */
  transition: 3s opacity; /*causes a 3 second fase in */
  letter-spacing: 0.2vw; /* vw is a relative measurement, 1vw is equal to 1% of the viewpoint width*/
  font-family: "Trebuchet MS", Optima;
  font-size: 1.5vw;
  overflow-x: hidden; /* This prevents the horizontal scroll bar from appearing when the quote is hoveredover */
  user-select: none; /* Prevents the text on the webpage from being highlighted by the user */
}
/*This section contributes to the fade effect for the page that occurs when the page is loaded */
body.fade-out {
  opacity: 0.1; /*This sets th elevel of opacity at the start of the page load*/
}

/* Heading 1 elements */
h1 {
  text-transform: uppercase; /* Capitalizing all h1 headings */
  font-family: "Trebuchet MS", Optima; /* Sets the font family of all h1 headings */
  text-align: center; /* Centering all h1 elements */
  margin-top: 3%; /* Adds a small margin above h1 elements */
  color: #e4e4e4;
}

/* Heading 1 element hover effect */
h1:hover {
  filter: grayscale(
    5%
  ); /* Adds a slightly gray filter to the h1 headings when hovered over */
  transform: scale(
    1.1
  ); /* When the h1 elements are hovered over they increase in size by 1.1 */
  transition: transform 1s; /* This causes the transformation to last 1 second */
}

/* Styling for portfolio title text */
.blue-text {
  color: #70a7ff; /* This is used to change the color of the portfolio title text */
}

/* Paragraph elements */
p {
  font-family: sans-serif, sans-serif Bold;
  text-align: center; /* centers text within paragraph elements */
  letter-spacing: 1px; /* This expands the text slightly */
  font-size: 20px; /*Relative font sizing equal to 2.5% of the viewpoint width*/
  padding-left: 1vw; /* Relative padding equal to 1% of the viewpoint width*/
  padding-right: 1vw; /* Relative padding equal to 1% of the viewpoint width*/
  color: #fffbfb;
}

/* Paragraph element hover effect */
p:hover {
  transition: transform 1s; /* This makes the transform effect last 1 second */
  transform: scale(
    1.01
  ); /* This makes the paragraphs increase slightly in size when hovered over */
}

/* Center class - this applies to all elements with the class "center" */
.center {
  text-align: center; /* This center aligns the text */
  font-size: 25px;
  color: white;
}

/* Center class - this applies to all elements with the class "center_foot" */
.center_foot {
  text-align: center; /* This center aligns the text */
  font-size: 20px;
  color: #005b5b;
}

/* Center class hover effect - This only affects the quote, github link, and footer */
.center:hover {
  transition: transform 2s; /* This makes the transform effect last 2 seconds */
  transform: scale(
    1.1
  ); /* This makes the elements with class "center" increase in size by 1.1 when hovered over */
}

/* Anchor elements */
a {
  color: #70a7ff; /* This ensures all links are blue */
  cursor: pointer; /*This ensures all links change the mouse to a pointer when hovered or clicked*/
  text-decoration: dotted underline; /*This ensures all links are dotted underline*/
}

/* Quotation elements */
q {
  font-style: italic; /* This makes the quote italicized */
}

/* Image elements */
img {
  filter: grayscale(75%); /* This rids our pictures of 75% of their color */
  border-radius: 8px; /* Gives all images slightly rounded corners */
  max-width: 100%; /* Ensures all images stay within the width of their container */
  max-height: 100%; /* Sets the height of all images */
  display: block; /* By specifying block display we can ensure our images are able to be centered */
  margin-right: auto; /*This centers all images*/
  margin-left: auto;
}

/* Image element hover effects */
img:hover {
  filter: grayscale(
    5%
  ); /* Brings back most of the image's color when hovered over */
}

/* Styling for footer element */
footer {
  padding: 2%; /* This gives the footer padding that is equal to 2% of the width of the element's area */
  background-color: #d4e4ff;
}

#graphic_design_video {
  filter: grayscale(100%); /* This rids our pictures of 75% of their color */
  border-radius: 8px; /* Gives all images slightly rounded corners */
  max-width: 100%; /* Ensures all images stay within the width of their container */
  max-height: 100%; /* Sets the height of all images */
  display: block; /* By specifying block display we can ensure our images are able to be centered */
  margin-left: auto; /* In combination with "margin-right: auto" this centers all images */
  margin-right: auto;
}

/***** END OF GENERAL STYLING *****/

/***** NAVBAR STYLING *****/
.Navbar {
  overflow: hidden; /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
  background-color: #70a7ff; /* This colors the navbar black */
  position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
  top: 0; /* This ensures no space is displayed above the navbar */
  width: 100%; /* This makes the navbar span the entire width of the page */
  z-index: 1; /* This ensures other elements don't display over the navbar */
  -webkit-animation: moveNav 5s; /* This applies the moveNav animation below for Safari 4.0 - 8.0 */
  animation: moveNav 5s; /* This applies the moveNav animation for all other browsers */
}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
  from {
    left: -100vw;
  } /* The navbar is starting off screen to the left */
  to {
    left: 0vw;
  } /* This moves the navbar into place on the screen */
}

/* Navbar links */
.Navbar a {
  float: left; /* This specifies that the text floats on the left on the navbar */
  display: block; /* This ensures that other text will be displayed on the same line or row, instead of a new line */
  color: white; /* This is the font color for text on our navbar */
  padding: 0.75vw 1vw; /* This adds padding around our text */
  text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
  font-family: Avant Garde, Helvetica; /* This specifies the font family for text on our navbar */
  font-size: 1.5vw; /* This specifies the font size for text on our navbar */
  text-align: center; /* This centers the text within its container */
  position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
  -webkit-animation: moveNavText 5.75s; /* Animation for Safari 4.0 - 8.0 */
  animation: moveNavText 5.75s; /* Applies the moveNavText animation for 5.75s */
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
  from {
    top: -100vw;
  } /* This sets the navbar text 100% above the viewport */
  to {
    top: 0vw;
  } /* This lowers the navbar text onto the navbar */
}

/* Navbar hover effects */
.Navbar a:hover {
  background-color: #005b5b; /* Defines the background color that will display when you hover over the link */
  color: white; /* This defines the font color that will display when navbar a elements are hovered over */
  font-weight: bold; /* This makes the text on the navbar bold when hovered over */
  cursor: pointer;
  transition: 0.5 ease-in; /*Creates a smooth transsition for the hover trigger*/
}

/* Navbar home button */
.Navbar a.active {
  /* This targets the a element on the navbar with the "active" class */
  background-color: #005b5b;
}
/***** END OF NAVBAR STYLING *****/

/***** VIDEO STYLING *****/
/* Formatting for background video */
#giant_camera {
  filter: grayscale(60%);
  position: fixed; /* This fixes the video to the page */
  right: 0; /* This ensures there is no space between the edge of the video and the edge of the page */
  bottom: 0; /* This ensures no space between the bottom of the video and the bottom of the page */
  min-width: 100%; /* This ensures the video is displayed across the full width of the page */
  z-index: -1; /* This places the video behind the other elements on the page */
}

/* Texts over the video */
.Video_Text {
  background: rgba(
    255,
    255,
    255,
    0
  ); /* This provides a semi-transparent background for the text to sit over */
  color: white; /* Makes the font color white */
  width: 100%; /* Ensures the video-text container fills the width of the video */
  height: 100vh;
  padding-top: 2vh; /* This adds padding around the video-text container so that the background goes slightly beyond the text */
  position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
  -webkit-animation: moveVideoText 5.75s;
  animation: moveVideoText 5.75s;
}

/* This animation effect causes the overlay video text to move up from the bottom of the page upon page load */
@keyframes moveVideoText {
  from {
    top: -100vw;
  } /* This sets the position of the video text to above the viewport */
  to {
    top: 0vw;
  } /* This moves the video text to the normal positioning on the viewport */
}
/***** END OF VIDEO STYLING *****/

/***** Slideshow Styling *****/
#Slideshow_Background {
  background: white; /*creates a slightly transparent white background that' placed over the video in the background*/
}

.mySlides {
  display: none; /*this prevents the image from being displayed, we will us JS to display these*/
}

/*Slideshow section / container*/
#Slideshow_Container {
  width: 39.5vw; /*Relative sizing of the container for the slideshow set to 39.5% of the viewpoint width*/
  height: auto; /*the height of the container is automatically adjusted based on the content it is displaying*/
  padding-top: 4%; /*Adds a small padding to the top of the slidshow container*/
  position: relative; /*this sets the container relative to its normal positioning*/
  margin: auto; /*This will horizontally center the container on the page*/
}

/*Remove underline from the previous and next buttons on the slideshow*/
#Slideshow_Container a {
  text-decoration: none;
}
/* images contained within the slideshow */
.Slideshow_Images {
  vertical-align: middle; /*this centers vertically within the slideshow container*/
  height: auto; /* the height of the images is automatically based on the content, ie if your images are different sizes, they will display as different sizes*/
  box-shadow: 0px 5px 10px 12px black; /*Adds a shadow around the slideshow images*/
  width: 100%; /* The width of the image is automatically adjusted based on the content*/
}
/*Next and previous buttons*/
.Previous,
.Next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 2vw;
  color: #70a7ff;
  font-weight: bold;
  font-size: 1.5vw;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transition: 0.6s ease;
}

/*Positioning the next button on the right hand side*/
.Next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/*Hover effect on slideshow buttons*/
.Previous:hover,
.Next:hover {
  background-color: #005b5b;
  color: #70a7ff;
}

/*Slideshow text*/
.text {
  color: white;
  padding: 1vw;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: "Trebuchet MS", Optima;
  letter-spacing: 0.1vw;
  font-size: 1.5vw;
  background-color: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  border-radius: 0px 0px 7px 7px;
}

/*Styling dots under the slidshow*/
.dot {
  cursor: pointer;
  height: 1vw;
  width: 1vw;
  margin: 0.25vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 1;
}

/*Hover efeect for slideshow*/
.active,
.dot:hover {
  background-color: #70a7ff;
}

/*Fading animation for slide show*/
.fade {
  animation-name: fade; /*Fade animation is defined below*/
  animation-duration: 1.5s; /*animation lasts for 1.5 seconds*/
  -webkit-animation-name: fade; /*same as above for safari 4.0-8.0*/
  -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  } /*image starts transparent*/
  to {
    opacity: 1;
  } /*Image ends opaque*/
}

@keyframes fade {
  from {
    opacity: 0.4;
  } /*image starts transparent*/
  to {
    opacity: 1;
  } /*Image ends opaque*/
}
/*****End Slideshow Styling*****/

/***** TABLE STYLING -  this section covers the styling of the columns and rows within the table *****/
* {
  /* The asterisk is a universal selector that applies this effect to all elements on the page */
  box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */
}

.Column_1 {
  float: left;
  width: 50%; /* This ensures the column takes up half of the page width */
  padding: 1.6%;
  height: 450px; /* This sets the height of the column to 450px -  this may need to be adjusted depending on the text you enter */
  background-color: #005b5b; /* Sets the background color of the columns with class Column_1 */
}

.Column_2 {
  float: left;
  width: 50%;
  padding: 1.6%;
  height: 450px;
  background-color: #70a7ff;
}

/* This inserts something after the content of selected elements (in this case the elements with class "Row") */
.Row:after {
  content: ""; /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
  display: table; /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
  clear: both; /* This clears any other elements from floating on the left or the right of an element */
}
/***** END OF TABLE STYLING *****/

/***** CONTACT FORM STYLING *****/

/* Button used to open the contact form - fixed at the bottom of the page */
.Pop_Up_Button {
  position: fixed; /* The element is positioned relative to the viewport and stays in the same location no matter what */
  bottom: 1.75vw;
  right: 1.75vw;
  width: 25vw;
  background-color: #70a7ff;
  color: white;
  cursor: pointer;
  -webkit-animation: movePopup 5s; /* Animation for 5 seconds for Safari 4.0-8.0 */
  animation: movePopup 5s; /* Animation set for 5 seconds */
}

/* movePopup animation moves the button from off the right side of the screen to its fixed location on the viewport */
@keyframes movePopup {
  from {
    right: -40vw;
  }
  to {
    right: 1.75vw;
  }
}

@-webkit-keyframes movePopup {
  from {
    right: -40vw;
  }
  to {
    right: 1.75vw;
  }
}

/* Styling for the contact form */
.form-popup {
  z-index: 8; /* This z-index ensures the contact form shows above all other elements on the page */
  display: none;
  position: fixed;
  bottom: 0.5vw;
  right: 0.5vw;
}

/*Form styling*/
.form-coontainer {
  max-width: 49vw; /*Realtive sizing of thr form container (49% of the viewpoint width)*/
  padding: 1vw;
  background-color: #005b5b;
}

/* movePopup animation moves the button from off the right side of the screen to its fixed location on the viewport */
@keyframes movePopup {
  from {
    right: -40vw;
  }
  to {
    right: 1.75vw;
  }
}

@-webkit-keyframes movePopup {
  from {
    right: -40vw;
  }
  to {
    right: 1.75vw;
  }
}

/* Styling for the contact form */
.form-popup {
  z-index: 8; /* This z-index ensures the contact form shows above all other elements on the page */
  display: none; /* Set the display to none, we will use JavaScript to show the contact form */
  position: fixed; /* The form stays in the same location no matter what */
  bottom: 0.5vw; /* Slightly up from the bottom of the viewport */
  right: 0.5vw; /* Slightly in from the right side of the viewport */
}
/*Form Styling*/
.form-container {
  max-width: 49vw; /*Relative sizing of the form container (49% of the viewpoint width)*/
  padding: 1vw;
  background-color: #005b5b;
}

/*Input fields*/
.form-container input[type="text"] {
  width: 100%;
  padding: 0.93vw;
  margin: 0.6vw 0 0.6vw 0;
  border: none;
  background: #d4e4ff;
  font-size: 1vw;
}

/*General styling foe all the buttons*/
button {
  font-family: "Trebuchet MS", Optima;
  letter-spacing: 0.3vw;
  font-size: 1.5vw;
  font-weight: bold;
  padding: 1.5vw;
  cursor: pointer;
  width: 100%;
  height: auto;
}
/*Hover effect for contact and submit buttons*/
button:hover,
.form-container .btn:hover {
  color: #70a7ff;
  background-color: #005b5b;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  border-color: #ffffff98;
}
/*Submit Button*/
.form-container.btn {
  background-color: #70a7ff;
  color: #d4e4ff;
  border-color: #d4e4ff;
  margin-bottom: 1vh;
}
/*Close button*/
.form-container.cancel {
  background-color: #70a7ff;
  color: #d4e4ff;
  border-color: #d4e4ff;
}
/***** END OF CONTACT FORM STYLING *****/

/* The @media rule is used in media queries to apply different styles for different media/types of devices */
/* On screens 576px and smaller the images will be 100px tall and centered vertically in the column */
@media screen and (max-width: 576px) {
  img {
    height: 100px;
    margin-top: 150px;
  }
}

/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
  .Navbar a {
    width: 25%; /* This makes each link take up 1/4 of the navbar */
    font-size: 12px;
  }
}

/* Screens that are 576px and smaller will not display the background video */
@media screen and (max-width: 576px) {
  #giant_camera {
    display: none;
  }
}

/* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 576px) {
  .Column_1,
  .Column_2 {
    overflow: auto;
  }
}

