/* GENERAL STYLING */
#home {
  background: url(../images/e.mp4) fixed no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: auto;
  display: block;
  margin-top: 75px;
  color: #fff;
  z-index: -1;
  text-align: center;
}
body {
  overflow: hidden;
}
p,
h1,
label {
  font-family: "Kalam", sans-serif;
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
  padding-left: 1vw;
  padding-right: 1vw;
  color: #ffffff;
  font-weight: bold;
}
/* HOMEPAGE IMAGE */
img {
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.856);
  position: absolute;
  left: 40%;
  top: 23%;
  width: 20%;
}
/* VIDEO BACKGROUND */
#animation_background {
  filter: grayscale(30%);
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  z-index: -1;
}
.Video_Text {
  background: rgba(255, 255, 255, 0);
  color: white;
  width: 100%;
  padding-top: 2vh;
  position: absolute;
  bottom: 4rem;
  -webkit-animation: moveVideoText 5.75s;
  animation: moveVideoText 5.75s;
}
/* NAVBAR STYLING */
.sidenav {
  height: 100%;
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e75480;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.sidenav a {
  font-size: 25px;
  color: #ffffff;
  display: block;
  font-family: "Kalam", sans-serif;
}
.sidenav a:hover {
  color: #2e57af;
}
.main {
  margin-left: 160px;
  padding: 0px 10px;
}
/*MEDIA QUERIES*/
@media screen and (max-width: 2560px) {
  img {
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.856);
  position: absolute;
  left: 35.9%;
  top: 22.5%;
  width: 28%;}
}
@media screen and (max-width: 2560px) {
  #animation_background {
  filter: grayscale(30%);
  background-size: cover;
  margin-right: -30.5rem;
  height: 2000px;
  z-index: -1;}
}
@media screen and (max-width: 2560px) {
p,
h1,
label {
  font-family: "Kalam", sans-serif;
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
  padding-left: 1vw;
  padding-right: 1vw;
  color: #ffffff;
  font-weight: bold;
  font-size: xx-large;}
}
@media screen and (max-width: 1920px) {
  img {
   border-radius: 50%;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.856);
   position: absolute;
   left: 36.8%;
   top: 18%;
   width: 27%;}
 }
 @media screen and (max-width: 1920px) {
   #animation_background {
   filter: grayscale(30%);
   background-size: cover;
   margin-right: -23rem;
  margin-bottom: -8rem;
  height: 1500px;
   z-index: -1;}
 }
@media screen and (max-width: 1920px) {
p,
h1,
label {
  font-family: "Kalam", sans-serif;
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
  padding-left: 1vw;
  padding-right: 1vw;
  color: #ffffff;
  font-weight: bold;
  font-size: large;}
}
@media screen and (max-width: 1440px) {
  img {
   border-radius: 50%;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.856);
   position: absolute;
   left: 37%;
   top: 24.5%;
   width: 27%;}
 }
 @media screen and (max-width: 1440px) {
   #animation_background {
   filter: grayscale(30%);
   background-size: cover;
   margin-right: -16rem;
  margin-bottom: -1rem;
  height: 1100px;
   z-index: -1;}
 }
@media screen and (max-width: 1440px) {
p,
h1,
label {
  font-family: "Kalam", sans-serif;
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
  padding-left: 1vw;
  padding-right: 1vw;
  color: #ffffff;
  font-weight: bold;
  font-size: large;}
}
@media screen and (max-width: 1440px) {
  p,
  h1,
  label {
    font-family: "Kalam", sans-serif;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 1vw;
    padding-right: 1vw;
    color: #ffffff;
    font-weight: bold;
    font-size: medium;}
  }
@media screen and (max-width: 1024px) {
  img {
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.856);
    position: absolute;
    left: 31%;
    top: 16.5%;
    width: 38%;}
 }
 @media screen and (max-width: 1024px) {
   #animation_background {
    filter: grayscale(30%);
    background-size: cover;
    margin-right: -34rem;
    margin-bottom: -4rem;
    height: 1200px;
    z-index: -1;}
 }

@media screen and (max-width: 576px) {
 
}


@media screen and (max-width: 576px) {
  
}

